/* GENERAL */

body, footer {
    background-color: #333333;
    font-size: 110%;
    color: #CCCCCC;
    font-family:monospace;
    overflow-y: hidden;
    margin:0;
}

input, textarea, p, a, div {
    font-size: 1.5vh;
}

footer {
    font-family: monospace;
    padding: 10px;
    margin-left: 10vh;
}

footer div {
    display: inline-block;
    margin-right: 30px;
}

form {
    padding:0;
    margin:0;
}

a {
    color: #448800;
}

input[type=text], textarea {
    background-color: #555555;
    color: #CCCCCC;
    border: none;
    font-family: monospace;
    height: 5vh;
    padding: 1vh;
    width: 100%;
    border-radius: 1px;
    border-bottom: solid 2px;
    outline: #DDDDDD;
}

textarea, label {
    font-size: 2.0vh;
    padding: 1.0vh;
}

#appTitle {
    font-size: 10vh;
    text-align: center;
    margin: 1vh;
    margin-top: 10vh;
}

div#app {
}

.button {
    background-color: #448800;
    margin: 2%;
    padding: 1%;
    text-align: center;
}

.container {
    overflow:hidden;
}

/* MESSAGES */

#messages {
    overflow-y: auto;
    height:76%;
    vertical-align:top;
    width: 100%;
    margin-right: -100px;
    padding-right: 100px;
}

#messageForm {
    /* padding:1%; */
    width:100%;
    height: 20%;
    margin:0;
    box-shadow: 0px -0.1px 100px 0px #111111;
}

#messageBody {
    display:inline-block;
    width: 80%;
    height: 100%;
    margin:0;
    vertical-align:top;
}

#messageSend {
    display:inline-block;
    background-color: transparent;
    height:100%;
    width: 15%;    
    margin:0;
    margin-left: 1%;
    /* padding-top:4%; */
    line-height: 100%;
    text-align: center;
}

#messageSend > .imageHolder {
    margin:0;
    padding:0;
    height:auto;
    vertical-align:middle;
}

#messageSend > .imageHolder > img {
    height:auto;
    width: 50%;
}

.message {    
    word-wrap: break-word;
    padding:0;
    width:90%;
    margin-bottom: 1%;
    /* box-shadow: 5px 5px 5px black; */
}

.message.username, .message.body {
    padding:1%;
    border: 0px;
    margin-right:5px;
    padding:0.5%;
}

.message.username {
    background-color: #444444;
    display:inline-block;
    width:10%;
    
    text-align:right;
    vertical-align:top;
}

.message.body {
    background-color: #222222;
    width:85%;
    display:inline-block;
}

.message.body p {
    margin:0;
    padding:0;
}

/* FORMS */
#roomFormHolder {
    margin: 5vw;
    padding: 2vw;
    box-shadow: 0px 0px 100px 1px #222222;
}

#roomForm { }

textarea {
    resize: none;
}

label {
    font-weight: bold;
}

.roomRadio { }

/* ERRORS */

#notifications { }

.error {
    background-color: red;
}